.show-form {
    border: 2px solid black;
    width: 400px;
    margin:0px auto 40px;
    padding: 20px;
    background-color: rgba(217, 207, 226, 0.665);
    box-shadow: 10px 10px 8px 8px rgba(0,0,0,0.75);
}

label {
    display: block;
    font-size: large;
    margin: 10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
}

input {
    height: 30px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 8px 6px 5px 0px rgba(0,0,0,0.75);
}

button {
    margin-top: 10px;
    padding: 6px;
    border-radius: 10px;
    color: white;
    background-color: rebeccapurple;
    cursor: pointer;
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
    font-size: 1.2rem;
}