.show-box{
    border: 2px solid black;
    padding: 20px;
    /* background-color: rgba(201, 162, 226, 0.665); */
    background-color: rgba(255, 255, 255, 0.13);
    /* color: white; */
    box-shadow: 10px 10px 8px 8px rgba(0,0,0,0.75);
}
.line-through{
    text-decoration: line-through;
}
.delete-button{
    background-color: rgb(255, 0, 0);
}