*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: 100vh;
  /* background-color: grey; */
  background-image: url('./assets/popcorn-main-bg.jpg');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  padding-top: 40px;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.jc-evenly{
  justify-content: space-evenly;
}